@model IEnumerable<MoviesData.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres</h1>

<p>
    <a asp-action="Create">Create New Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenreId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.GenreId }) |                   
                        @Html.ActionLink("Delete", "Delete", new { id=item.GenreId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
